<!DOCTYPE html>
    <html lang="fr">
        <head>
            <meta charset="UTF-8">
            <title><%= title %></title>
            <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700|Playfair+Display:400,900" rel="stylesheet">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
            <link rel="stylesheet" href="/stylesheets/main.css">
            <link rel="icon" href="/images/logo.png" />
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        </head>
    <body>
    <section>
        <header id="main-header">
            <nav>
                <ul class="clearfix">
                    <li>
                        <a href="/">
                            <img src="/images/logo.png" id="logo">
                            <h1>My pokedex</h1>
                        </a>
                    </li>
                    <% if (typeof user == 'undefined') { %>
                        <li>
                            <a href="/login">Login</a>
                        </li>
                        <li>
                            <a href="/register">Register</a>
                        </li>
                    <% } else { %>
                        <% if (typeof user.user == 'undefined') { %>
                            <li>
                                <a href="/users/<%= user._id %>"><%= user.name %></a>
                            </li>
                        <% } else { %>
                            <li>
                                <a href="/users/<%= user.user._id %>"><%= user.user.name %></a>
                            </li>
                        <% } %>
                    <% } %>
                </ul>
            </nav>
        </header>
        <%- body %>
        <script>
            $('.btn-paginate').click(function (e) {
                e.preventDefault();
                $('#pokemons-list').animate({
                    top: $(this).hasClass('previous') ? '-=100vh' : '+=100vh',
                }, 400);
            });

            $('.pokemon-evolutions > li').each(function () {
                var $element = $(this)
                var id = $element.data('id');
                console.log()
                if (id < 10) {
                    id = '00' + id;
                } else if (id < 100) {
                    id = '0' + id;
                }

                $.get('http://localhost:3000/api/pokemon/' + id , function( data ) {
                    if (data[0]) {
                        console.log(data[0].name)
                        console.log(data[0].img)
                        $element.html('<div> <img src="'+ data[0].img + '"><h5>' + data[0].name + '</h5></div>');
                    }
                });
            })
        </script>
    </section>
</body>
</html>