<%- contentFor('body') %>
<section class="clearfix pokemon-card">
    <article class="pokemon-data" style="overflow: visible;">
        <h2><%= user.name %></h2>
        <%= user.email %>
        <%= user.pokemons.name %>
        <ul class="nav nav-tabs nav-justified pokemon-evolutions">
            <% user.pokemons.forEach(function(pokemon, index) { %>
            <li>
                <div>
                    <img src="<%= pokemon.img %>">
                    <h5><%= pokemon.name %> Lvl.<%= pokemon.level %></h5>
                </div>
            </li>
            <% }) %>
        </ul>
    </article>
</section>
