<%- contentFor('body') %>
    <ul id="pokemons-list">
        <% pokemons.forEach(function(pokemon, index) { %>
            <li class="clearfix">
                <article class="pokemon-data">
                    <h2><%= pokemon.name %></h2>
                    <ul class="nav nav-tabs nav-justified pokemon-health">
                        <li>
                            <h4>
                                <% pokemon.types.forEach(function(type, index) { %>
                                    <%= type %>
                                    <% if ( pokemon.types.length - 1 != index) { %>
                                        /
                                    <% } %>
                                <% }) %>
                            </h4>
                            <span>Type</span>
                        </li>
                        <li>
                            <h4> <%=  pokemon.weight %></h4>
                            <span>Weight</span>
                        </li>
                        <li>
                            <h4> <%=  pokemon.height %></h4>
                            <span>Height</span>
                        </li>
                    </ul>
                    <ul class="pokemon-attacks">
                        <% for (attack of pokemon.attacks) { %>
                            <li class="clearfix">
                                <div class="pull-left">
                                    <h4>
                                        <%= attack.name %>
                                    </h4>
                                    <span>
                                        <%= attack.type %>
                                    </span>
                                </div>
                                <div class="pull-right">
                                    <%= attack.damage %>
                                </div>
                            </li>
                        <% } %>
                    </ul>
                    <ul class="nav nav-tabs nav-justified pokemon-evolutions">
                        <% for (previous_evolution of pokemon.previous_evolutions) { %>
                            <li data-id="<%= previous_evolution %>">
                            </li>
                        <% } %>
                        <li>
                            <div>
                                <img src="<%= pokemon.img %>">
                                <h5><%= pokemon.name %></h5>
                            </div>
                        </li>
                        <% for (next_evolution of pokemon.next_evolutions) { %>
                            <li data-id="<%= next_evolution %>">
                            </li>
                        <% } %>
                    </ul>
                </article>
                <article class="pokemon-thumbnail" style="background-image: url('/images/grass_background.jpg')">
                    <div style="background-image: url(' <%= pokemon.img %>')">
                        <h3>#<%= pokemon.number %></h3>
                        <nav>
                            <ul class="pokemons-pagination">
                                <div>
                                    <% if ( pokemons.length - 1 != index) { %>
                                        <li>
                                            <a href="#!" class="btn-paginate previous">
                                                <i class="material-icons">keyboard_arrow_up</i>
                                            </a>
                                        </li>
                                    <% } %>
                                    <% if (index != 0) { %>
                                        <li>
                                            <a href="#!" class="btn-paginate next">
                                                <i class="material-icons">keyboard_arrow_down</i>
                                            </a>
                                        </li>
                                    <% } %>
                                </div>
                            </ul>
                        </nav>
                    </div>
                </article>
            </li>
        <% }) %>
    </ul>
